<select class='col-md-2' id="cleanerDropdown">
	<option value="clear"> </option>
	<option value="clear">Clear Filter</option> 
	<%for(var i=0;i<cleaners.length;i++){%>
		<option value=<%=cleaners[i]._id%>><%=cleaners[i].Name%></option>
	<%}%>
</select>