<% include header.ejs %>
<script src='javascripts/housejobs.js'></script>
<link rel='stylesheet' href='stylesheets/housejobs.css'/>
</head>
<h1>Zeta Psi House Jobs</h1>
<label>Filter by cleaner:</label>
<%include _cleanersDropdown.ejs%>
<button class='btn' onclick="houseJobsPage.filterByCleaner()">Filter</button>
<div class='jobs-box'>
	<h2>Upcoming Jobs:</h2>
	<%include _upcomingJobs.ejs%>
</div>
<div class='jobs-box'>
	<h2>Jobs Past Due</h2>
	<%include _pastDueJobs.ejs %>
</div>
<body>
<% include footer.ejs %>