<% include header.ejs %>

 </head>
  <body>
    <h1><%= title %></h1>
    <a href='/manage/tasks'>Manage Tasks</a>
    <a href='/manage/cleans'>Manage Jobs</a>
    <a href='/manage/cleaners'>Manage Cleaners</a>
    <a href='/manage/crews'>Manage Crews</a>
 
 <% include footer.ejs %>

